<div class="container">
  <div class="row">
    <div class="col-12 text-center">
        <h1>Abbooについて</h1>
        <p>Abbooは留学に焦点を当てて<br>
        その国で体験したこと、感じたことを</br>
        共有できるアプリケーションです</p>
       <div>
        <%= image_tag 'about.jpg', size: '500x400' %>
       </div>
    </div>
  </div>
</div>