<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h2 class="text-center my-3">Welcome to</h2>
      
      
	<p class="bound">
		<span>A</span>
		<span>b</span>
		<span>b</span>
		<span>o</span>
		<span>o</span>
	</p>
	</div>
</div>
      <div class="top-introduction mb-3">Abboo(アビボー)で</br>
      留学先の国であなたが経験したこと、思ったことを</br>
      共有しよう!
      </div>
      
      <div class="btn-wrapper col-10 mx-auto">
      <div class="row">
          <%= link_to 'Guest', users_guest_sign_in_path, class: "btnx-indigo btn-sm btn-block mb-3 text-white sign_in" , method: :post %>
        </div>
        <div class="row">
          <%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'Sign up',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>