<h2>ハッシュタグ #<%= @tag.name_tag %></h2>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article_path(article.id) do %>
          <%= image_tag article.get_article_image, size:'230x160' %>
        <% end %>
      </li>
    <% end %>
  </ul>