
 <h4><span class="bg-light bg-gradient">登録ユーザー</span></h4>
<table class='table'>
  <thead>
    <tr>
      <th>アイコン</th>
      <th>名前</th>
      <th>ステータス</th>
      <th>編集</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, class: "rounded-circle", size:'30x30' %></td>
        <td><%= user.name %></td>
        <td>
          <% if user.is_deleted == false %>
            有効
          <% else %>
            無効
          <% end %>
        </td>
        <td><%= link_to 'ユーザー編集', edit_admin_user_path(user.id), class:"btn btn-info" %></td>
    <% end %>
  </tbody>
</table>
 <div class="paginattion">
        <%= paginate @users %>
  </div>